.shoe-red{
  --clr-outer: rgb(151, 24, 24);
  --clr-inner: rgb(252, 143, 0);
  --clr-accent: rgb(80, 26, 10);
}

.shoe-white{
  --clr-inner: #2a9d8f;
  --clr-outer: #264653;
  --clr-accent: #e76f51;
}

.shoe-blue{
  --clr-inner: #ff5593;
  --clr-outer: #ff0062;
  --clr-accent: #704986;
}



*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: novecento-sans-wide, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-style: normal;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

section {
  padding: 7em 0;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;

  & > * {
    flex-basis: 30%;
    min-width: 15em;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, green);
  color: var(--clr-text, white);
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1.1;
}

.hero {
  color: aliceblue;
  text-align: center;
  padding: 15em 0;
  background: #222;

  @supports (background-blend-mode: multiply) {
    background: url(../img/shoe-3.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 3rem);
  line-height: 1;
  color: rgb(61, 64, 95);
  margin-bottom: 5rem;
}

.featured {
  background: #eee;

  &__item{
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color:#333;
    text-align: center;

    

    &:hover,
    &:focus {
      transform: scale(1);

      .featured__details{
        opacity: 1;
      }
    }

    &::after{
      content: '';
      position: absolute;
      top: 10%;
      left: 10%;
      padding: 75% 75% 0 0;
      background: #b0d7e0;
      border-radius: 50%;
      z-index: -1;
    }

  }

  &__details{
    opacity: 0;


    span{
      display: block;
      font-weight: 700;
      font-size: 2.5rem;
    }

  }
}

.product{
  background: radial-gradient(var(--clr-inner, orange), var(--clr-outer, purple));
  padding: 3em;
  border-radius: 3em;
  margin-bottom: 3em;
  text-align: center;

  &__title{
    font-size: clamp(3rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 .2em rgba(#000, .2);

  }

  &__image{
    margin: -5em 0 0 0;

  }

  @media (min-width: 45em){
    text-align: left;

    &__title{
      margin: 0;
    }

    &__image{
      float: right;
      width: 65%;
      shape-outside: url(../img/shoe-1.png);
      shape-margin: 1em;
      margin: 0 -5em 0 0;
    }

    &.shoe-left{
      .product__image{
        float: left;
        shape-outside: url(../img/shoe-2.png);
        margin: 0 0 0 -5em;
      }
    }

  }

}

